@{
    Layout = "_LayoutPure";
    string error = ViewData["missingData"] as string;
    string exito = ViewData["exito"] as string;
    string passwordError = ViewData["passwordError"] as string;
}

<div class="row mt-2 p-2 align-middle">

    @if (exito == null)
    {

        <div class="col-4">
        </div>
        <div class="col">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                <div class="card align-middle">
                    <div class="card-header bg-dark text-center">
                        <h1 class="text-light">Login</h1>
                    </div>
                    <div class="card-body bg-light align-content-center">

                        <div class="row text-center p-2 m-2">
                            <Label>Email:<span class="text-danger">*</span></Label>
                            <span class="ml-2">   @Html.Kendo().TextBox().Name("email").HtmlAttributes(new {type="email"})</span>
                        </div>
                        <div class="row text-center p-2 m-2">
                            <Label>Usuario:<span class="text-danger">*</span></Label>
                            <span class="ml-2">   @Html.Kendo().TextBox().Name("user")</span>

                        </div>
                        <div class="row text-center p-2 m-2">
                            <Label>Password:<span class="text-danger">*</span></Label>
                            <span class="ml-2">
                                @Html.Kendo().TextBox().Name("password").HtmlAttributes(new {type="password", width="200px"})
                                <strong>@passwordError</strong>
                            </span>


                        </div>
                    </div>
                    <div class="card-footer bg-black text-center">
                        @Html.Kendo().Button().Name("Btn_Register").Icon("user").Content("Crear Usuario")
                        @if (error != null)
                        {
                            <span class="text-danger">
                                @error
                            </span>
                        }

                    </div>
                </div>
            }
        </div>
        <div class="col-4">
        </div>
    }
    else
    {
        <div class="row text-center p-3 ">
            <h1 class="text-light">@exito</h1>
            <a href="/" class="btn btn-primary"> Home</a>
        </div>
    }


</div>




